# Applied Data Science in Berlin
In this notebook the restaurants of the different neighborhoods of the heart of Berlin, Germany.

In [4]:
import numpy as np
import pandas as pd
import pgeocode

In [2]:
df    = pd.read_csv('berlin_postcode.csv')
df.head()

   Postcode Neighborhood Borough
0     10115        Mitte   Mitte
1     10117        Mitte   Mitte
2     10119        Mitte   Mitte
3     10178        Mitte   Mitte
4     10179        Mitte   Mitte

In [3]:
df.shape

(97, 3)

10115
10117
10119
10178
10179
10551
10553
10555
10557
10559
13353
10555
10557
10557
10785
10787
13347
13349
13351
13353
13357
13359
13407
13347
13353
13355
13357
13359
13409
10243
10245
10247
10249
10178
10179
10317
10961
10963
10965
10967
10997
10999
10969
10119
10247
10249
10369
10405
10407
10409
10435
10437
10439
13187
13189
10585
10587
10589
10623
10625
10627
10629
14052
14055
14057
14059
10707
10709
10713
10715
10717
10719
10777
14197
10777
10779
10781
10783
10787
10789
10823
10825
10827
10829
12157
12159
12161
12169
12043
12045
12047
12049
12051
12053
12055
12057
12059